body {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande",
        "Lucida Sans Unicode", Arial;
}
// 顶部导航
.topbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #d8d8d8;

    .topbar-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 100%;
        background-color: #cf1132;
        z-index: 1;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 54px;
            color: #fff;
        }

        i {
            display: inline-block;
            width: 25px;
            height: 11px;
            background: url(../images/sprite-w_dd519f4.png) -90px -306px
                no-repeat;
            margin-right: 8px;
        }
    }

    .topbar-ad {
        position: absolute;
        top: 0;
        left: 180px;
        z-index: 13;
        width: 420px;
        height: 54px;
        padding-top: 0;
        overflow: hidden;
        display: block;

        &:hover {
            overflow: visible;

            > img {
                opacity: 0;
            }
        }

        a {
            position: absolute;
            top: 55px;
            width: 960px;
            display: block;
            height: auto;
            overflow: hidden;
            z-index: 1;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    .topbar-logo {
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        line-height: 54px;

        a {
            display: inline-block;
            position: absolute;
            width: 133px;
            height: 44px;
            left: 50%;
            margin-left: -30px;
            margin-top: 5px;
            background-image: url(../images/logo_b5525b7.png);
        }
    }

    .topbar-right {
        position: absolute;
        top: 0;
        right: 130px;
        width: 140px;
        height: 100%;
        border-left: 1px solid #d8d8d8;
        line-height: 54px;
        text-align: center;

        a {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #333;

            &:hover {
                color: #bc2e2e;
                border-bottom: 1px solid #bc2e2e;
                background-color: #f3f3f3;
                background-image: -webkit-linear-gradient(
                    top,
                    #f3f3f3 0,
                    #fefefe 52px
                );
            }
        }
    }

    .topbar-recommend {
        position: absolute;
        top: 0;
        right: 0;
        width: 130px;
        height: 100%;
        border-left: 1px solid #d8d8d8;
        text-align: center;
        line-height: 54px;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #626262;

            &:hover {
                color: #bc2e2e;
                border-bottom: 1px solid #cf1132;

                i {
                    background-position: -98px -343px;
                }
            }

            i {
                display: inline-block;
                width: 17px;
                height: 20px;
                background: url(../images/sprite-w_dd519f4.png) -81px -343px
                    no-repeat;
                position: relative;
                top: 5px;
                margin-right: 10px;
            }
        }
    }
}

// 游戏目录下拉
.topbar-game {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 200;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    opacity: 0.95;
    transition: height 0.4s ease 0s;
    border-top: 1px solid #d8d8d8;

    &:hover {
        height: 500px;
    }
}

.topbar-game-container {
    display: inline-block;
    width: 1260px;
    height: 100%;
    background-color: #fdfefe;

    .topbar-game-title {
        width: 100%;
        height: 40px;

        li {
            height: 100%;
            background-color: #f7f7f7;
            color: #bc2e2e;
            float: left;
            border-right: 1px solid #eee;
            vertical-align: top;
            box-sizing: border-box;
            text-align: left;

            &:nth-child(1) {
                width: 300px;
            }
            &:nth-child(2) {
                width: 830px;
            }
            &:nth-child(3) {
                width: 130px;
            }
        }

        b {
            line-height: 39px;
            color: #bc2e2e;
            display: block;
            width: 100%;
            height: 39px;
            font-size: 14px;
            text-indent: 20px;
            background: #f7f7f8;
            overflow: hidden;
            clear: both;
        }
    }

    .topbar-game-list {
        position: relative;
        float: left;
        height: 445px;
        // background-color: #000;

        &:nth-child(2) {
            width: 300px;
            border-right: 1px solid #eee;
        }

        &:nth-child(3) {
            width: 830px;

            li:nth-child(1) {
                border-right: 1px solid #eee;
                padding-right: 12px;
            }
        }

        &:nth-child(4) {
            width: 129px;
        }

        li {
            float: left;
            width: 120px;
            height: 100%;
            text-align: left;
            padding-top: 10px;
            padding-left: 10px;
        }

        p {
            height: 24px;
            padding: 0;
            margin: 0;
            margin-left: 6px;
            line-height: 24px;
            margin-bottom: 4px;
            font-weight: 700;
            color: #626262;
        }

        a {
            display: inline-block;
            padding: 0;
            margin: 0;
            margin-left: 6px;
            line-height: 24px;
            font-weight: 700;
            color: #626262;
            width: 100%;
        }

        em {
            width: 100%;
            font-weight: 400;
            display: block;
            line-height: 24px;
            text-align: left;
            font-size: 12px;

            &:hover {
                color: #bc2e2e;
            }
        }

        .topbar-list-more {
            width: 20px;
            height: 95px;
            display: block;
            position: absolute;
            right: 0;
            top: 124px;
            font-size: 12px;
            color: #fff;
            background: #bc2e2e;
            padding-left: 10px;
            line-height: 14px;
            padding-top: 7px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            text-align: left;
            font-weight: 400;

            &:hover {
                opacity: 0.8;
            }
        }

        .topbar-game-list-btn {
            width: 75px !important;
            height: 18px;
            line-height: 18px !important;
            margin: 5px 0;
            display: inline-block;
            padding-left: 0 !important;
            text-indent: 25px;
            color: #bc3030 !important;
            background: url(https://nie.res.netease.com/comm/nie.topBar/images/sprite-w_dd519f4.png)
                0 -338px no-repeat;
        }
    }
}

// 热点推荐下拉
.topbar-hot {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    min-width: 1260px;
    height: 0;
    z-index: 200;
    background-color: #fff;
    overflow: hidden;
    transition: height 0.4s ease 0s;
    border-top: 1px solid #d8d8d8;

    a {
        display: inline-block;
    }

    ul {
        list-style: none;
        position: absolute;
        width: 1116px;
        left: 50%;
        margin-left: -550px;
        top: 28px;
    }

    li {
        display: block;
        float: left;
        width: 170px;
        height: 241px;
        margin-right: 16px;
    }

    .topbar-hot-game-title {
        float: left;
        width: 100%;
        height: 50px;
        padding-top: 6px;
        background: url(../images/sprite-w_dd519f4.png) 0 -362px #cf1132 no-repeat;

        span {
            color: #fff;
            display: block;
            float: left;
            width: 100%;
            text-align: center;
            height: 16px;
            line-height: 14px;
            margin-top: 3px;
        }
    }

    .topbar-hot-foot {
        position: absolute;
        width: 1100px;
        left: 50%;
        margin-left: -550px;
        top: 285px;

        span {
            color: #d42846;
            display: inline-block;
            padding-left: 5px;
            border-left: 1px solid #d42846;
            height: 18px;
            line-height: 18px;
        }
    }

    .topbar-hot-btn {
        position: absolute;
        left: 50%;
        top: 320px;
        margin-left: -217px;

        a {
            display: block;
            float: left;
            width: 115px;
            height: 28px;
            border: 1px solid #cbcbcb;
            border-radius: 4px;
            text-align: center;
            line-height: 28px;
            margin-right: 42px;
            color: #626262;

            &:nth-child(1) i {
                background-position: 0 -443px;
            }

            &:nth-child(2) i {
                background-position: -19px -443px;
            }

            &:nth-child(3) i {
                background-position: -36px -443px;
            }

            &:hover {
                color: #bc2e2e;
            }
        }

        i {
            display: inline-block;
            position: relative;
            width: 13px;
            height: 13px;
            top: 2px;
            margin-right: 6px;
            background-image: url(../images/sprite-w_dd519f4.png);
        }
    }
}

// 视频
.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;

    .video-bg {
        background: url(../images/bg-pop_efca8c6.png) center;
    }

    .stop {
        width: 27px;
        height: 27px;
        background: url(../images/close_cbca339.png) no-repeat center;
        background-size: cover;
        cursor: pointer;
        transition: transform 0.5s;

        &:hover {
            transform: rotate(90deg);
        }
    }
}

.hm-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;

    .video-bg {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .stop {
        width: 48px;
        height: 48px;
        background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/icon_707d7fa.png) -239px
            0 no-repeat;
        right: -80px;

        &:hover {
            background-position: -528px 0;
        }
    }
}
.video-bg {
    width: 100%;
    height: 100%;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -450px/2;
        margin-left: -800px/2;
    }

    .stop {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 420px;
        margin-top: -225px;
    }
}

// 投票
.alert-vote {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    font-size: 14px;
    opacity: 0;
    display: none;
    transition: all 0.2s linear;

    .alert-vote-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.6;
    }

    .alert-vote-wrap {
        width: 480px;
        height: 255px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -240px;
        line-height: 30px;
        margin-top: -255px;
        color: #3c3c3c;
        background: #fff;
        margin-top: -127.5px;

        a {
            width: 36px;
            height: 36px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            cursor: pointer;

            &:hover em {
                background-color: #329f32;
            }
        }

        i {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: url(http://res.nie.netease.com/comm/js/nie/util//img/clse.png)
                no-repeat;
            cursor: pointer;
            z-index: 2;
        }

        em {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 100%;
            z-index: 1;
            transition: all 0.2s ease;
            background-color: #5cb85c;
        }
    }

    .alert-vote-main {
        padding: 55px 30px 90px;
        position: relative;
        min-height: 110px;

        a {
            position: absolute;
            right: 30px;
            top: 175px;
            z-index: 100;
            overflow: hidden;
            background-color: #5cb85c;
            width: 120px;
            height: 50px;
            display: block;
            float: right;
            margin-left: 23px;
            text-align: center;
            line-height: 50px;
            font-size: 18px;
            transition: all 0.2s ease;
            color: #fff;
        }
    }
}

// 图片弹窗
.alert-image {
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
    background: rgba(0, 0, 0, 0.8);
    display: none;

    .alert-image-bg {
        width: 100%;
        height: 610px;
        background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/pop1_bg_e37f341.jpg)
            center no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10001;
        transform: translate(-50%, -50%);
    }

    .alert-con {
        position: relative;
        width: 990px;
        margin: 0 auto;
        padding-top: 48px;

        > a {
            width: 75px;
            height: 75px;
            background: #3e9420;
            position: absolute;
            top: -75px;
            right: -75px;

            &:hover i {
                transform: rotate(180deg);
            }
        }

        i {
            display: block;
            width: 100%;
            height: 100%;
            background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/close_592eda6.png)
                no-repeat;
            transition: all ease 0.3s;
        }
    }

    .alert-image-pop-title {
        color: #fff;
        position: relative;

        .alert-image-pop-link {
            color: #f9ff4b;
            font-size: 26px;
            font-weight: 700;
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            line-height: 30px;
            padding-left: 35px;
            background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/pop_zan_8e5df06.png)
                no-repeat;
            cursor: pointer;
            display: none;
        }

        .alert-image-pop-dl {
            width: 20px;
            height: 24px;
            background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/dl_e37edb3.png)
                no-repeat;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            cursor: pointer;
            display: none;
        }
    }

    .alert-image-pop-name {
        font-size: 30px;
        font-weight: 700;
    }

    .alert-image-pop-author {
        position: relative;
        padding-left: 10px;
        margin-left: 15px;

        &:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 5px;
            border-left-color: #fff;
        }
    }

    .alert-image-pop-con {
        border: 0;
        width: 970px;
        height: auto;
        margin: 30px auto;
        position: relative;

        div {
            width: 970px;
            height: auto;
            overflow: hidden;
        }

        img {
            max-width: 970px;
            max-height: 430px;
            height: 430px;
            border: 6px solid #252625;
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
            width: auto;
        }
    }
}

// 浮动导航
.floatnav {
    width: 100%;
    height: 92px;
    background: url(../images/top_bg1_db2a296.png) center top no-repeat;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1000;

    .header-logo {
        display: block;
        background: url(../images/logo.webp) no-repeat;
        background-size: 100%;
        width: 265px;
        height: 100px;
        position: absolute;
        top: 12px;
        left: 0;
        z-index: 10;
    }

    .floatnav-left {
        position: absolute;
        display: none;
        top: 14px;
        left: 13px;
        width: 143px;
        height: 90px;
        border-right: 1px solid #6c6564;

        p {
            width: 16px;
            line-height: 16px;
            float: left;
            font-size: 14px;
            color: #fff;
            margin-top: 8px;
        }

        .floatnav-qrcode {
            float: left;
            width: 90px;
            height: 90px;
            margin-left: 12px;
            position: relative;

            div {
                width: 101px;
                top: 0;
                left: -9px;
                position: absolute;
                height: 17px;
                background: url(../images/line_ebb436a.png) no-repeat;
                animation: mainbarcode 2.5s linear infinite alternate;
            }

            img {
                width: 90px;
            }
        }

        .floatnav-left-logo {
            background: url(../images/logo.webp) no-repeat;
            background-size: 100%;
            width: 173px;
            height: 66px;
            position: absolute;
            top: 12px;
            left: 168px;
            display: block;
            z-index: 10;
        }
    }

    .floatnav-list {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 65%;

        ul {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }

        li {
            float: left;
            width: 65px;
            height: 100%;
            margin-left: 80px;

            &:nth-child(1) {
                margin-left: 0;

                i {
                    background: url(../images/nav01_58cdf2f.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav01_h_3a8ad6a.png) no-repeat;
                    }
                    p {
                        color: #ec5050;
                    }
                }
            }

            &:nth-child(2) {
                i {
                    background: url(../images/nav02_70a1c46.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav02_h_5da0299.png) no-repeat;
                    }
                    p {
                        color: #2fb0e0;
                    }
                }
            }

            &:nth-child(3) {
                i {
                    background: url(../images/nav8_864b111.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav8_h_588f6ac.png) no-repeat;
                    }
                    p {
                        color: #b351f2;
                    }
                }
            }

            &:nth-child(4) {
                i {
                    background: url(../images/nav04_436de87.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav04_h_514215b.png) no-repeat;
                    }
                    p {
                        color: #28b51c;
                    }
                }
            }

            &:nth-child(5) {
                i {
                    background: url(../images/nav04_436de87.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav04_h_514215b.png) no-repeat;
                    }
                    p {
                        color: #06a43e;
                    }
                }
            }

            &:nth-child(6) {
                i {
                    background: url(../images/nav05_fe2225f.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav05_h_c757c3c.png) no-repeat;
                    }
                    p {
                        color: #e0b00b;
                    }
                }
            }

            &:nth-child(7) {
                i {
                    background: url(../images/nav06_704430e.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav06_h_b356308.png) no-repeat;
                    }
                    p {
                        color: #e32997;
                    }
                }
            }

            &:nth-child(8) {
                i {
                    background: url(../images/nav11_f8b7807.png) no-repeat;
                }

                &:hover {
                    i {
                        background: url(../images/nav11_h_bbb52e8.png) no-repeat;
                    }
                    p {
                        color: #53ddd5;
                    }
                }
            }
        }

        a {
            color: #eee;
        }

        i {
            width: 31px;
            height: 31px;
            display: block;
            margin: 18px auto 10px;
        }

        p {
            text-align: center;
            font-size: 12px !important;
            height: 12px;
            line-height: 12px;
            margin-top: 15px;
        }
    }
}

// 遮罩
.video-hm {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    opacity: 0;
    height: 0;
    transition: all ease 0.5s;

    .video-btn {
        width: 46px;
        height: 46px;
        margin: 35px auto 0;
        background: url(../images/video_btn_b0ef8aa.png) no-repeat;
    }
}

.video-bf {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    opacity: 1;
    height: 117px;
    transition: all ease 0.5s;

    .video-btn {
        width: 46px;
        height: 46px;
        margin: 35px auto 0;
        background: url(../images/video_btn_b0ef8aa.png) no-repeat;
    }
}

// 第一版内容
.header {
    position: relative;
    width: 100%;
    height: 943px;
    background: url(../images/banner1_e310a71.jpg) no-repeat center top;

    &:after {
        content: "";
        width: 269px;
        height: 34px;
        bottom: 0;
        left: 50%;
        z-index: 2;
        position: absolute;
        margin-left: -600px;
        background-repeat: no-repeat;
        background: url(../images/index_z_a435eef.png) -66px -218px;
    }

    .header-slogan {
        position: absolute;
        width: 674px;
        height: 214px;
        top: 270px;
        left: 50%;
        margin-left: -337px;
    }

    .header-btn {
        width: 430px;
        height: 115px;
        position: absolute;
        top: 654px;
        left: 50%;
        margin-left: -215px;

        p {
            width: 429px;
            height: 49px;
            line-height: 49px;
            background: url(../images/bg-dl-btn_c09a20c.png) no-repeat;
            font-family: Microsoft YaHei;
            text-align: center;
            font-size: 25px;
            font-weight: 700;
            color: #fff;
            margin: 0;
        }

        a {
            display: block;
            width: 430px;
            height: 49px;
            margin: -2px auto 0;
            background: url(../images/btn-dl-1_b4c958c.png) center;
        }
    }

    .net-download {
        width: 277px;
        height: 159px;
        overflow: hidden;
        background: url(../images/bg-dl-module_a649e93.png) center no-repeat;
        position: absolute;
        top: 763px;
        left: 50%;
        margin-left: -216px;

        > a {
            position: absolute;
            top: 135px;
            left: 50%;
            margin: 0;
            margin-left: -50px;
            width: 100px;
            text-align: center;
            font-size: 14px;
            color: #2f2f2f;
            border-bottom: 1px solid #2f2f2f;
            cursor: pointer;
        }
    }

    .header-qrcode {
        position: relative;
        float: left;
        width: 99px;
        height: 98px;
        margin-top: 30px;
        margin-left: 24px;

        img {
            width: 100%;
            height: 100%;
        }

        div {
            position: absolute;
            top: 100%;
            left: -5px;
            width: 110px;
            height: 17px;
            background-image: url(../images/line_ebb436a.png);
        }
    }

    .buttons {
        float: left;
        width: 137px;
        margin-top: 32px;
        margin-left: 6px;

        a {
            font-size: 0;
            display: block;
            width: 137px;
            height: 41px;
            cursor: pointer;

            &:nth-child(1) {
                background-image: url(../images/btn-dl-ios_437c568.png);

                &:hover {
                    opacity: 0.9;
                }
            }

            &:nth-child(2) {
                margin-top: 10px;
                background-image: url(../images/btn-dl-and_af56775.png);

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .header-video {
        width: 140px;
        height: 126px;
        background: url(../upload/bg-video_c993512.jpg) center;
        border: 2px solid #ff712e;
        box-sizing: border-box;
        position: absolute;
        top: 780px;
        left: 50%;
        margin-left: 82px;

        a {
            display: block;
            width: 25px;
            height: 42px;
            margin: 35px auto;
            background: url(../images/btn-play_12b97bd.png) center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            margin-left: -12px;
            top: 50%;
            margin-top: -21px;
            z-index: 5;
        }

        span {
            position: absolute;
            width: 136px;
            height: 122px;
            left: 0;
            top: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

// 第二版内容
.content {
    width: 100%;
    height: 1939px;
    background: url(../images/con_bg_67700a3.jpg) center center no-repeat;
    .container {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

// 第一块
.part1 {
    position: relative;
    height: 354px;

    &:before {
        content: "";
        width: 61px;
        height: 66px;
        background: url(../images/box_8f0e3f1.png) no-repeat;
        position: absolute;
        top: 40px;
        left: -54px;
        z-index: 2;
    }

    &:after {
        content: "";
        width: 101px;
        height: 340px;
        background: url(../images/box2_dc1906e.png) no-repeat;
        position: absolute;
        top: 23px;
        right: -101px;
    }

    .ban-box {
        width: 540px;
        height: 330px;
        background: #8ad573;
        padding: 13px 12px;
        position: relative;
        float: left;
        overflow: hidden;
    }

    .carousel {
        overflow: hidden;
        position: relative;
        width: 540px;
    }

    .carousel-img {
        width: 7560px;
        position: relative;
        overflow: hidden;
        padding: 0px;
        margin: 0px;

        li {
            float: left;
            width: 540px;
        }

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .carousel-list {
        position: absolute;
        bottom: 20px;
        right: 20px;

        li {
            float: left;
            margin-left: 3px;
            background: #135805;
            border: 3px solid #135805;
            width: 10px;
            height: 10px;
            cursor: pointer;
        }

        .active {
            background: #ccc;
            border-color: #ea4a34;
        }
    }

    .news-box {
        width: 488px;
        height: 327px;
        background: #fff;
        margin-top: 29px;
        float: left;
    }

    .news-nav {
        height: 40px;
        border-bottom: 2px solid #edf3ec;
        position: relative;

        ul {
            width: 100%;
            height: 40px;
        }

        li {
            width: 89px;
            height: 40px;
            float: left;
            text-align: center;
            line-height: 40px;
            font-weight: 700;

            a {
                color: #000;
                font-size: 15px;
            }
        }

        .active {
            background: url(../images/news_on_4bf006e.png) no-repeat;
            a {
                color: #fff;
            }
        }

        > a {
            width: 40px;
            height: 40px;
            background: #ccc;
            display: block;
            position: absolute;
            top: 0;
            right: 3px;
            background: url(../images/more_e284634.png) center center no-repeat;
            transition: all ease 0.5s;

            &:hover {
                transform: rotate(180deg);
            }
        }
    }

    .news-wrap {
        overflow: hidden;
        position: relative;
        width: 488px;

        .news-con {
            width: 1952px;
            left: 0px;
            position: relative;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
        }

        ul {
            float: left;
            width: 488px;
        }

        li {
            height: 37px;
            line-height: 37px;
            border-bottom: 1px dotted #d1c8c1;
            padding-top: 2px;
            position: relative;
            margin: 0 22px;

            &:nth-child(1) {
                border-bottom-style: solid;
                font-size: 20px;
                height: 60px;
                line-height: 60px;
                font-weight: 700;
                padding-top: 0;

                a {
                    color: #28bd09;
                    font-size: 20px;
                }

                i {
                    display: none;
                }
            }

            &:nth-last-child(1) {
                border-bottom: none;
            }
        }

        a {
            width: 400px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #333;
            font-size: 13px;
        }

        i {
            width: 0;
            height: 0;
            display: inline-block;
            border-color: transparent;
            border-width: 7px;
            border-style: solid;
            border-left-color: #a5a5a5;
            vertical-align: middle;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            color: #999;
        }

        .push {
            height: 35px;
            line-height: 35px;
            border-bottom: 0;
            margin-bottom: 4px;
            background-color: #f5f7f9;
            margin: 9px 22px 5px;

            i {
                float: left;
                width: 56px;
                color: #fff;
                background-color: #28bd09;
                text-align: center;
                border: 0;
                height: 35px;
                position: relative;
                font-size: 15px;
            }

            a {
                float: left;
                width: 325px;
                color: #333;
                font-size: 13px;
                margin: 0 18px;
                font-weight: 700;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: 36px;
                transition: all 0.5s ease;
            }
        }
    }

    .share-box {
        width: 125px;
        height: 317px;
        border: 5px solid #28bd09;
        margin-top: 29px;
        float: right;
        position: relative;

        &:after {
            content: "";
            width: 52px;
            height: 51px;
            background: url(../images/share_bg_67f593f.png) no-repeat;
            position: absolute;
            top: 0;
            left: 0;
        }

        .share-p1 {
            color: #333;
            font-weight: 700;
            font-size: 20px;
            margin-top: 28px;
            text-align: center;
        }

        .share-p2 {
            color: #999;
            text-align: center;
        }

        ul {
            display: block;
            list-style: none;
            float: left;
            padding: 0;
            margin: 10px 0;
            width: 100%;
            height: 25px;
            text-align: center;
        }

        li {
            display: inline-block;
            width: 20px;
            height: 19px;

            a {
                display: inline-block;
                float: left;
                font-size: 20px;
                line-height: 20px;
                text-decoration: none;
                color: #999;
                margin-right: 3px;
                width: 100%;
                height: 100%;
            }

            &:nth-child(1) a {
                background-image: url(../images/share-1.png);
            }

            &:nth-child(2) a {
                background-image: url(../images/share-2.png);
            }

            &:nth-child(3) a {
                background-image: url(../images/share-3.png);
            }

            &:nth-child(4) a {
                background-image: url(../images/share-4.png);
            }

            &:nth-child(1) a:hover {
                background-image: url(../images/share-1h.png);
            }

            &:nth-child(2) a:hover {
                background-image: url(../images/share-2h.png);
            }

            &:nth-child(3) a:hover {
                background-image: url(../images/share-3h.png);
            }

            &:nth-child(4) a:hover {
                background-image: url(../images/share-4h.png);
            }
        }

        .line {
            width: 88px;
            margin-left: 13px;
            height: 1px;
            background: #ccc;
            margin-top: 44px;
        }

        .ewm-box {
            width: 116px;
            margin: 5px auto 0;
        }

        .ewm-tab {
            text-align: center;
            a {
                color: #333;
                width: 38px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                display: inline-block;
            }

            .active {
                color: #33b916;
                background: url(../images/line_318f36e.png) center bottom
                    no-repeat;
            }
        }

        .ewm-wrap {
            width: 110px;
            margin: 10px auto;

            .tempWrap {
                overflow: hidden;
                position: relative;
                width: 110px;
            }

            .ewm-img {
                width: 220px;
                left: 0px;
                position: relative;
                overflow: hidden;
                padding: 0px;
                margin: 0px;
            }

            img {
                width: 100px;
                margin: 0 auto;
                display: block;
            }

            p {
                text-align: center;
                line-height: 17px;
            }

            a {
                width: 100%;
                margin: 0;
                text-decoration: underline;
                line-height: 170%;
                color: #333;
                text-align: center;
                display: inline-block;
            }
        }
    }
}

// 第二块
.part2 {
    height: 142px;
    margin: 33px auto 40px;

    ul {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    li {
        float: left;
        width: 240px;
        height: 145px;
        cursor: pointer;
        transition: all ease 0.3s;

        &:nth-child(1) {
            background: url(../images/part2_01_4b3dba2.png) no-repeat center
                bottom;

            &:hover {
                background: url(../images/part2_01_h_3038414.png) no-repeat
                    center bottom;
            }
        }

        &:nth-child(2) {
            background: url(../images/part2_02_0479e41.png) no-repeat center
                bottom;

            &:hover {
                background: url(../images/part2_02_h_1f5aad2.png) no-repeat
                    center bottom;
            }
        }

        &:nth-child(3) {
            background: url(../images/part2_03_25cbad2.png) no-repeat center
                bottom;

            &:hover {
                background: url(../images/part2_03_h_8cb872e.png) no-repeat
                    center bottom;
            }
        }

        &:nth-child(4) {
            background: url(../images/part2_04_cf05c27.png) no-repeat center
                bottom;

            &:hover {
                background: url(../images/part2_04_h_814a3a7.png) no-repeat
                    center bottom;
            }
        }

        &:nth-child(5) {
            background: url(../images/part2_05_d359b8a.png) no-repeat center
                bottom;

            &:hover {
                background: url(../images/part2_05_h_591bb32.png) no-repeat
                    center bottom;
            }
        }
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

// 第三块
.part3 {
    height: 375px;

    .part3-nav {
        width: 190px;
        height: 354px;
        float: left;
    }

    .part3-nav-head {
        width: 165px;
        height: 57px;
        padding-top: 35px;
        position: relative;
        background: #f2f2f2 url(../images/work_bg_03c3d39.png) no-repeat;

        p {
            text-align: center;

            &:nth-child(1) {
                color: #333;
                font-weight: 700;
                font-size: 20px;
            }

            &:nth-child(2) {
                color: #999;
            }
        }
    }

    .part3-nav-list {
        width: 165px;
        min-height: 212px;
        background: #fff;

        li {
            width: 190px;
            height: 53px;
            transition: all ease 0.3s;
            position: relative;
        }

        .active {
            &:before {
                content: "";
                width: 190px;
                height: 51px;
                background: #ea4a34;
                position: absolute;
                top: 0;
                left: 0;
            }

            a {
                background-color: transparent;
                color: #fff;
            }
        }

        a {
            display: block;
            width: 165px;
            height: 53px;
            line-height: 51px;
            font-size: 16px;
            background: #fff;
            text-align: center;
            position: relative;
            text-decoration: none;
            color: #000;

            &:before {
                content: "";
                width: 151px;
                height: 1px;
                background: #ececec;
                position: absolute;
                left: 7px;
                bottom: 0;
            }
        }
    }

    .part3-nav-more {
        width: 165px;
        height: 39px;
        padding-top: 22px;
        display: block;
        background: url(../images/work_more_bg_17da8bb.png) no-repeat center
            bottom;
        position: relative;

        &:before {
            content: "";
            width: 100%;
            height: 9px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover i {
            transform: rotate(180deg);
        }

        i {
            width: 34px;
            height: 34px;
            display: block;
            background: url(../images/more1_ab19103.png) no-repeat;
            transition: all ease 0.5s;
            margin: -7px 0 0 146px;
        }
    }
}

.part3-box {
    width: 1010px;
    height: 354px;
    float: left;

    ul {
        width: 100%;
        height: 100%;
    }

    li {
        width: 243px;
        height: 157px;
        margin: 0 12px 21px 0;
        float: left;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:hover .list-box-zan {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        > p {
            color: #fff;
            text-align: right;
            background: url(../images/zan_d2c59b2.png) center right no-repeat;
            padding-right: 25px;
            position: absolute;
            z-index: 10;
            bottom: 10px;
            right: 10px;
            display: none;
            line-height: 20px;

            &:hover {
                background: url(../images/zan_h_bbf3989.png) center right
                    no-repeat;
            }
        }
    }

    .part3-list-box {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100.5%;
            min-height: 100.5%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        div {
            position: absolute;
            width: 243px;
            height: 0;
            background: rgba(0, 0, 0, 0.6);
            top: 0;
            left: 0;
            transition: all ease 0.3s;
            opacity: 0;

            p {
                text-align: center;

                &:nth-last-child(2) {
                    color: #fff;
                    font-size: 14px;
                    line-height: 28px;
                }

                &:nth-last-child(1) {
                    color: #ccc;
                    line-height: 22px;
                }
            }
        }

        span {
            width: 16px;
            height: 3px;
            background: #ff6550;
            display: block;
            margin: 55px auto 0;
        }
    }

    .part3-box-image {
        display: none;
        li {
            width: 183px;
            height: 183px;
            margin-right: 23px;
            margin-bottom: 10px;

            &:nth-child(5n) {
                margin-right: 0;
            }

            > p {
                width: 20px;
                height: 24px;
                right: -18px;
                bottom: 7px;
                background: url(../images/dl_e37edb3.png) no-repeat;
            }
        }
    }
}

// 第四块
.part4 {
    margin: 27px auto 100px;
    height: 410px;

    .part4-nav {
        width: 100%;
        height: 45px;

        .part4-nav-title {
            width: 168px;
            height: 45px;
            font-size: 14px;
            float: left;
            background: url(../images/video_tit_bg_1e31449.png) no-repeat;
        }

        p {
            text-align: center;

            &:nth-child(1) {
                color: #333;
                font-weight: 700;
                font-size: 20px;
            }

            &:nth-child(2) {
                color: #999;
            }
        }

        ul {
            float: left;
            margin-left: 30px;
        }

        li {
            width: 112px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            float: left;
            margin-right: 3px;
            font-size: 16px;
            transition: all ease 0.5s;

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #212121;
                position: relative;
                left: -8px;
                top: -1px;
            }
        }

        .active {
            background: url(../images/video_bg_eaa14b3.png) no-repeat;

            a {
                color: #fff;
            }
        }

        .part4-nav-more {
            float: left;
            color: #26ae0a;
            height: 45px;
            line-height: 45px;
            margin-left: 10px;

            &:hover i {
                transform: rotate(180deg);
            }

            i {
                width: 34px;
                height: 34px;
                display: inline-block;
                background: url(../images/more1_ab19103.png) center right
                    no-repeat;
                margin: -1px 0 0 10px;
                vertical-align: middle;
                transition: all ease 0.5s;
            }
        }
    }

    .part4-box {
        margin-top: 41px;

        .part4-box-big {
            width: 486px;
            height: 322px;
            float: left;
            cursor: pointer;
            position: relative;
        }

        .part4-box-video {
            width: 486px;
            height: 274px;
        }

        .part4-box-img {
            width: 486px;
            height: 274px;
        }

        .part4-box-title {
            position: absolute;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            bottom: 0;
            left: 0;
            background: #333;
            color: #fff;
        }
    }

    .part4-box-list {
        width: 714px;
        height: 322px;
        float: left;

        .video-box-list-item {
            height: 322px;
            margin-left: 12px;
            display: none;

            &:nth-child(1) {
                display: block;
            }
        }

        li {
            float: left;
            margin-left: 12px;
            width: 221px;
            height: 169px;
            position: relative;
            cursor: pointer;

            > p {
                color: #fff;
                text-align: right;
                background: url(../images/zan_d2c59b2.png) center right
                    no-repeat;
                padding-right: 25px;
                position: absolute;
                top: 90px;
                right: 10px;
                z-index: 10;
                line-height: 20px;

                &:hover {
                    background: url(../images/zan_h_bbf3989.png) center right
                        no-repeat;
                }
            }
        }

        img {
            width: 221px;
            height: 117px;
        }

        .video-box-list-img p {
            &:nth-last-child(2) {
                color: #4d4c4c;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 19px;
                font-size: 13px;
            }

            &:nth-last-child(1) {
                color: #27881f;
                line-height: 18px;
                font-size: 13px;
            }
        }
    }
}

// 第五块
.part5 {
    height: 390px;

    .gs-wrap {
        width: 428px;
        height: 390px;
        float: left;

        .gs-title {
            border: 2px solid #cfe6ca;
            width: 424px;
            height: 42px;
            line-height: 42px;
            position: relative;

            a {
                width: 214px;
                height: 46px;
                color: #242424;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                line-height: 44px;
                text-indent: 3px;
                position: absolute;
                left: -2px;
                top: -2px;

                &:nth-last-child(1) {
                    left: auto;
                    right: -2px;
                }
            }
        }

        .active {
            background: url(../images/tj_bg_954c550.png) no-repeat;
            color: #fff !important;
            background-size: 100% 100%;
        }

        .gs-more {
            color: #26ae0a;
            display: block;
            text-align: right;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 0;
                width: 350px;
                height: 1px;
                background: #dfdad5;
            }

            &:hover i {
                transform: rotate(180deg);
            }

            i {
                width: 19px;
                height: 19px;
                display: inline-block;
                background: url(../images/more_e284634.png) center right
                    no-repeat;
                margin: -1px 0 0 10px;
                vertical-align: middle;
                transition: all ease 0.5s;
            }
        }
    }

    .gs-temp {
        overflow: hidden;
        position: relative;
        width: 428px;

        .gs-box {
            width: 856px;
            left: 0px;
            position: relative;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
        }

        ul {
            float: left;
            width: 428px;
        }

        li {
            height: 39px;
            line-height: 39px;
            border-bottom: 1px dotted #d1c8c1;
            position: relative;

            &:nth-child(1) {
                height: 84px;
                padding: 14px 0 12px 14px;
                border-bottom: 1px #d1c8c1 solid;
                margin-bottom: 11px;

                a {
                    width: auto;
                }
            }

            &:nth-last-child(1) {
                border-bottom: 0;
            }

            a {
                width: 365px;
                color: #292828;
                display: block;
                overflow: hidden;
                font-size: 13px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            i {
                width: 0;
                height: 0;
                vertical-align: middle;
                display: inline-block;
                border-color: transparent;
                border-width: 7px;
                border-style: solid;
                border-left-color: #a5a5a5;
            }
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            color: #999;
        }

        img {
            width: 156px;
            height: 84px;
        }

        .gs-des {
            width: 240px;
            margin-left: 11px;
            display: inline-block;
            vertical-align: top;
        }

        .gs-p1 {
            color: #28bd09;
            font-size: 19px;
            font-weight: 700;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 30px;
        }

        .gs-p2 {
            height: 48px;
            color: #898989;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            word-break: break-all;
            white-space: normal;
            line-height: 16px;
        }
    }

    .tj-wrap {
        width: 745px;
        height: 398px;
        background: #fff;
        position: relative;
        float: right;
    }

    .tbShengwu {
        .sum {
            width: 195px;
        }

        .subNav {
            width: 260px;
        }

        .peifang {
            display: none;
        }
    }

    .tj-head {
        width: 733px;
        height: 44px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        line-height: 44px;
        background: #fff;
        position: relative;

        &:before {
            content: "";
            width: 745px;
            height: 44px;
            background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/tj_head_9ac4e91.png)
                no-repeat;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            position: relative;
        }
    }

    .tj-nav {
        width: 100%;

        a {
            color: #767676;
            width: 80px;
            height: 40px;
            margin: 0 13px;
            line-height: 40px;
            font-size: 16px;
            text-align: center;
            float: left;
            border-bottom: 3px solid transparent;
            transition: all ease 0.5s;
            position: relative;
        }

        .active:before {
            content: "";
            width: 80px;
            height: 3px;
            background: #61c355;
            position: absolute;
            bottom: -3px;
            left: 50%;
            margin-left: -40px;
        }
    }

    .tj-mod {
        .sideNav {
            width: 80px;
            margin-top: 20px;
            float: left;
            height: 240px;
            display: none;
            font-size: 14px;
            margin-left: 9px;

            a {
                display: block;
                text-align: center;
                height: 40px;
                line-height: 40px;
                color: #828282;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 18px;
                    left: 5px;
                    width: 5px;
                    height: 5px;
                    background: transparent;
                    transition: all ease 0.5s;
                }
            }

            .active {
                color: #2ba012;

                &:before {
                    background: #099d00;
                }
            }
        }
    }

    .tujian {
        float: left;
        height: 240px;
        margin-left: 5px;
        margin-top: 20px;

        .bigImg {
            display: inline-block;
            vertical-align: top;
            width: 160px;
            height: 216px;
            box-sizing: border-box;
            margin: 12px 12px 0 0;
            text-align: center;
            position: relative;
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            max-width: 100%;
            max-height: 100%;
        }
    }

    .sum {
        position: absolute;
        width: 235px;
        display: inline-block;
        vertical-align: middle;

        .desc {
            margin-bottom: 6px;

            p {
                display: block;
                color: #666;
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
            }

            em {
                color: #333;
                height: 40px;
                line-height: 36px;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                display: block;
                border-bottom: 1px solid #b8babb;
                margin-bottom: 8px;
            }
        }

        .peifang {
            height: 127px;
            width: 100%;

            > p {
                vertical-align: middle;
                font-size: 14px;
                font-style: normal;
                width: 88px;
                color: #767676;
            }
        }

        .peifang-ge {
            display: inline-block;
            vertical-align: middle;
            width: 105px;
            height: 102px;

            i {
                background: #fff;
                position: relative;
                width: 30px;
                height: 30px;
                display: block;
                float: left;
                border: 1px solid #ccc;
                margin: 0 3px 3px 0;
            }
        }

        .peifang-arror {
            display: inline-block;
            vertical-align: top;
            margin: 40px 18px 0;
            width: 12px;
            height: 20px;

            em {
                background: #099d00;
                width: 4px;
                height: 4px;
                display: block;

                &:nth-child(2) {
                    margin-left: 4px;
                }

                &:nth-child(3) {
                    margin-left: 8px;
                }

                &:nth-child(4) {
                    margin-left: 4px;
                }
            }
        }

        .peifang-img {
            display: inline-block;
            vertical-align: top;
            background: #fff;
            width: 50px;
            height: 50px;
            position: relative;
            border: 1px solid #ccc;
            margin-top: 23px;

            img {
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }

    .subNav {
        width: 290px;
        float: right;
        min-height: 240px;
        margin-top: 15px;

        a {
            display: block;
            width: 40px;
            height: 40px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            background: #d7a268;
            float: left;
            margin-right: 6px;
            margin-bottom: 4px;
        }

        .active {
            border: 3px solid #099d00;
        }

        img {
            width: 46px;
            height: 46px;
            position: absolute;
            margin-left: -23px;
            margin-top: -23px;
            left: 50%;
            top: 50%;
        }
    }

    .tips {
        width: 100%;
        height: 30px;
        font-size: 20px;
        color: #666;
        line-height: 30px;
        text-align: right;
        padding-right: 18px;
        box-sizing: border-box;
        position: absolute;
        bottom: 5px;
        right: 0;
    }
}
