body {
  font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
}
.topbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #d8d8d8;
}
.topbar .topbar-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: #cf1132;
  z-index: 1;
}
.topbar .topbar-left a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 54px;
  color: #fff;
}
.topbar .topbar-left i {
  display: inline-block;
  width: 25px;
  height: 11px;
  background: url(../images/sprite-w_dd519f4.png) -90px -306px no-repeat;
  margin-right: 8px;
}
.topbar .topbar-ad {
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 13;
  width: 420px;
  height: 54px;
  padding-top: 0;
  overflow: hidden;
  display: block;
}
.topbar .topbar-ad:hover {
  overflow: visible;
}
.topbar .topbar-ad:hover > img {
  opacity: 0;
}
.topbar .topbar-ad a {
  position: absolute;
  top: 55px;
  width: 960px;
  display: block;
  height: auto;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.topbar .topbar-logo {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  line-height: 54px;
}
.topbar .topbar-logo a {
  display: inline-block;
  position: absolute;
  width: 133px;
  height: 44px;
  left: 50%;
  margin-left: -30px;
  margin-top: 5px;
  background-image: url(../images/logo_b5525b7.png);
}
.topbar .topbar-right {
  position: absolute;
  top: 0;
  right: 130px;
  width: 140px;
  height: 100%;
  border-left: 1px solid #d8d8d8;
  line-height: 54px;
  text-align: center;
}
.topbar .topbar-right a {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #333;
}
.topbar .topbar-right a:hover {
  color: #bc2e2e;
  border-bottom: 1px solid #bc2e2e;
  background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #fefefe 52px);
}
.topbar .topbar-recommend {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 100%;
  border-left: 1px solid #d8d8d8;
  text-align: center;
  line-height: 54px;
}
.topbar .topbar-recommend a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #626262;
}
.topbar .topbar-recommend a:hover {
  color: #bc2e2e;
  border-bottom: 1px solid #cf1132;
}
.topbar .topbar-recommend a:hover i {
  background-position: -98px -343px;
}
.topbar .topbar-recommend a i {
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url(../images/sprite-w_dd519f4.png) -81px -343px no-repeat;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.topbar-game {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 200;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  opacity: 0.95;
  transition: height 0.4s ease 0s;
  border-top: 1px solid #d8d8d8;
}
.topbar-game:hover {
  height: 500px;
}
.topbar-game-container {
  display: inline-block;
  width: 1260px;
  height: 100%;
  background-color: #fdfefe;
}
.topbar-game-container .topbar-game-title {
  width: 100%;
  height: 40px;
}
.topbar-game-container .topbar-game-title li {
  height: 100%;
  background-color: #f7f7f7;
  color: #bc2e2e;
  float: left;
  border-right: 1px solid #eee;
  vertical-align: top;
  box-sizing: border-box;
  text-align: left;
}
.topbar-game-container .topbar-game-title li:nth-child(1) {
  width: 300px;
}
.topbar-game-container .topbar-game-title li:nth-child(2) {
  width: 830px;
}
.topbar-game-container .topbar-game-title li:nth-child(3) {
  width: 130px;
}
.topbar-game-container .topbar-game-title b {
  line-height: 39px;
  color: #bc2e2e;
  display: block;
  width: 100%;
  height: 39px;
  font-size: 14px;
  text-indent: 20px;
  background: #f7f7f8;
  overflow: hidden;
  clear: both;
}
.topbar-game-container .topbar-game-list {
  position: relative;
  float: left;
  height: 445px;
}
.topbar-game-container .topbar-game-list:nth-child(2) {
  width: 300px;
  border-right: 1px solid #eee;
}
.topbar-game-container .topbar-game-list:nth-child(3) {
  width: 830px;
}
.topbar-game-container .topbar-game-list:nth-child(3) li:nth-child(1) {
  border-right: 1px solid #eee;
  padding-right: 12px;
}
.topbar-game-container .topbar-game-list:nth-child(4) {
  width: 129px;
}
.topbar-game-container .topbar-game-list li {
  float: left;
  width: 120px;
  height: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}
.topbar-game-container .topbar-game-list p {
  height: 24px;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  line-height: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  color: #626262;
}
.topbar-game-container .topbar-game-list a {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  line-height: 24px;
  font-weight: 700;
  color: #626262;
  width: 100%;
}
.topbar-game-container .topbar-game-list em {
  width: 100%;
  font-weight: 400;
  display: block;
  line-height: 24px;
  text-align: left;
  font-size: 12px;
}
.topbar-game-container .topbar-game-list em:hover {
  color: #bc2e2e;
}
.topbar-game-container .topbar-game-list .topbar-list-more {
  width: 20px;
  height: 95px;
  display: block;
  position: absolute;
  right: 0;
  top: 124px;
  font-size: 12px;
  color: #fff;
  background: #bc2e2e;
  padding-left: 10px;
  line-height: 14px;
  padding-top: 7px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  text-align: left;
  font-weight: 400;
}
.topbar-game-container .topbar-game-list .topbar-list-more:hover {
  opacity: 0.8;
}
.topbar-game-container .topbar-game-list .topbar-game-list-btn {
  width: 75px !important;
  height: 18px;
  line-height: 18px !important;
  margin: 5px 0;
  display: inline-block;
  padding-left: 0 !important;
  text-indent: 25px;
  color: #bc3030 !important;
  background: url(https://nie.res.netease.com/comm/nie.topBar/images/sprite-w_dd519f4.png) 0 -338px no-repeat;
}
.topbar-hot {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  min-width: 1260px;
  height: 0;
  z-index: 200;
  background-color: #fff;
  overflow: hidden;
  transition: height 0.4s ease 0s;
  border-top: 1px solid #d8d8d8;
}
.topbar-hot a {
  display: inline-block;
}
.topbar-hot ul {
  list-style: none;
  position: absolute;
  width: 1116px;
  left: 50%;
  margin-left: -550px;
  top: 28px;
}
.topbar-hot li {
  display: block;
  float: left;
  width: 170px;
  height: 241px;
  margin-right: 16px;
}
.topbar-hot .topbar-hot-game-title {
  float: left;
  width: 100%;
  height: 50px;
  padding-top: 6px;
  background: url(../images/sprite-w_dd519f4.png) 0 -362px #cf1132 no-repeat;
}
.topbar-hot .topbar-hot-game-title span {
  color: #fff;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  height: 16px;
  line-height: 14px;
  margin-top: 3px;
}
.topbar-hot .topbar-hot-foot {
  position: absolute;
  width: 1100px;
  left: 50%;
  margin-left: -550px;
  top: 285px;
}
.topbar-hot .topbar-hot-foot span {
  color: #d42846;
  display: inline-block;
  padding-left: 5px;
  border-left: 1px solid #d42846;
  height: 18px;
  line-height: 18px;
}
.topbar-hot .topbar-hot-btn {
  position: absolute;
  left: 50%;
  top: 320px;
  margin-left: -217px;
}
.topbar-hot .topbar-hot-btn a {
  display: block;
  float: left;
  width: 115px;
  height: 28px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  text-align: center;
  line-height: 28px;
  margin-right: 42px;
  color: #626262;
}
.topbar-hot .topbar-hot-btn a:nth-child(1) i {
  background-position: 0 -443px;
}
.topbar-hot .topbar-hot-btn a:nth-child(2) i {
  background-position: -19px -443px;
}
.topbar-hot .topbar-hot-btn a:nth-child(3) i {
  background-position: -36px -443px;
}
.topbar-hot .topbar-hot-btn a:hover {
  color: #bc2e2e;
}
.topbar-hot .topbar-hot-btn i {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  top: 2px;
  margin-right: 6px;
  background-image: url(../images/sprite-w_dd519f4.png);
}
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
}
.video .video-bg {
  background: url(../images/bg-pop_efca8c6.png) center;
}
.video .stop {
  width: 27px;
  height: 27px;
  background: url(../images/close_cbca339.png) no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.5s;
}
.video .stop:hover {
  transform: rotate(90deg);
}
.hm-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
}
.hm-video .video-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.hm-video .stop {
  width: 48px;
  height: 48px;
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/icon_707d7fa.png) -239px 0 no-repeat;
  right: -80px;
}
.hm-video .stop:hover {
  background-position: -528px 0;
}
.video-bg {
  width: 100%;
  height: 100%;
}
.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -400px;
}
.video-bg .stop {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 420px;
  margin-top: -225px;
}
.alert-vote {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  font-size: 14px;
  opacity: 0;
  display: none;
  transition: all 0.2s linear;
}
.alert-vote .alert-vote-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
}
.alert-vote .alert-vote-wrap {
  width: 480px;
  height: 255px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  line-height: 30px;
  margin-top: -255px;
  color: #3c3c3c;
  background: #fff;
  margin-top: -127.5px;
}
.alert-vote .alert-vote-wrap a {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  cursor: pointer;
}
.alert-vote .alert-vote-wrap a:hover em {
  background-color: #329f32;
}
.alert-vote .alert-vote-wrap i {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(http://res.nie.netease.com/comm/js/nie/util//img/clse.png) no-repeat;
  cursor: pointer;
  z-index: 2;
}
.alert-vote .alert-vote-wrap em {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
  z-index: 1;
  transition: all 0.2s ease;
  background-color: #5cb85c;
}
.alert-vote .alert-vote-main {
  padding: 55px 30px 90px;
  position: relative;
  min-height: 110px;
}
.alert-vote .alert-vote-main a {
  position: absolute;
  right: 30px;
  top: 175px;
  z-index: 100;
  overflow: hidden;
  background-color: #5cb85c;
  width: 120px;
  height: 50px;
  display: block;
  float: right;
  margin-left: 23px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  transition: all 0.2s ease;
  color: #fff;
}
.alert-image {
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.alert-image .alert-image-bg {
  width: 100%;
  height: 610px;
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/pop1_bg_e37f341.jpg) center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10001;
  transform: translate(-50%, -50%);
}
.alert-image .alert-con {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding-top: 48px;
}
.alert-image .alert-con > a {
  width: 75px;
  height: 75px;
  background: #3e9420;
  position: absolute;
  top: -75px;
  right: -75px;
}
.alert-image .alert-con > a:hover i {
  transform: rotate(180deg);
}
.alert-image .alert-con i {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/close_592eda6.png) no-repeat;
  transition: all ease 0.3s;
}
.alert-image .alert-image-pop-title {
  color: #fff;
  position: relative;
}
.alert-image .alert-image-pop-title .alert-image-pop-link {
  color: #f9ff4b;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  padding-left: 35px;
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/pop_zan_8e5df06.png) no-repeat;
  cursor: pointer;
  display: none;
}
.alert-image .alert-image-pop-title .alert-image-pop-dl {
  width: 20px;
  height: 24px;
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/dl_e37edb3.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  display: none;
}
.alert-image .alert-image-pop-name {
  font-size: 30px;
  font-weight: 700;
}
.alert-image .alert-image-pop-author {
  position: relative;
  padding-left: 10px;
  margin-left: 15px;
}
.alert-image .alert-image-pop-author:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  border-left-color: #fff;
}
.alert-image .alert-image-pop-con {
  border: 0;
  width: 970px;
  height: auto;
  margin: 30px auto;
  position: relative;
}
.alert-image .alert-image-pop-con div {
  width: 970px;
  height: auto;
  overflow: hidden;
}
.alert-image .alert-image-pop-con img {
  max-width: 970px;
  max-height: 430px;
  height: 430px;
  border: 6px solid #252625;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: auto;
}
.floatnav {
  width: 100%;
  height: 92px;
  background: url(../images/top_bg1_db2a296.png) center top no-repeat;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 1000;
}
.floatnav .header-logo {
  display: block;
  background: url(../images/logo.webp) no-repeat;
  background-size: 100%;
  width: 265px;
  height: 100px;
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 10;
}
.floatnav .floatnav-left {
  position: absolute;
  display: none;
  top: 14px;
  left: 13px;
  width: 143px;
  height: 90px;
  border-right: 1px solid #6c6564;
}
.floatnav .floatnav-left p {
  width: 16px;
  line-height: 16px;
  float: left;
  font-size: 14px;
  color: #fff;
  margin-top: 8px;
}
.floatnav .floatnav-left .floatnav-qrcode {
  float: left;
  width: 90px;
  height: 90px;
  margin-left: 12px;
  position: relative;
}
.floatnav .floatnav-left .floatnav-qrcode div {
  width: 101px;
  top: 0;
  left: -9px;
  position: absolute;
  height: 17px;
  background: url(../images/line_ebb436a.png) no-repeat;
  animation: mainbarcode 2.5s linear infinite alternate;
}
.floatnav .floatnav-left .floatnav-qrcode img {
  width: 90px;
}
.floatnav .floatnav-left .floatnav-left-logo {
  background: url(../images/logo.webp) no-repeat;
  background-size: 100%;
  width: 173px;
  height: 66px;
  position: absolute;
  top: 12px;
  left: 168px;
  display: block;
  z-index: 10;
}
.floatnav .floatnav-list {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 65%;
}
.floatnav .floatnav-list ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.floatnav .floatnav-list li {
  float: left;
  width: 65px;
  height: 100%;
  margin-left: 80px;
}
.floatnav .floatnav-list li:nth-child(1) {
  margin-left: 0;
}
.floatnav .floatnav-list li:nth-child(1) i {
  background: url(../images/nav01_58cdf2f.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(1):hover i {
  background: url(../images/nav01_h_3a8ad6a.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(1):hover p {
  color: #ec5050;
}
.floatnav .floatnav-list li:nth-child(2) i {
  background: url(../images/nav02_70a1c46.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(2):hover i {
  background: url(../images/nav02_h_5da0299.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(2):hover p {
  color: #2fb0e0;
}
.floatnav .floatnav-list li:nth-child(3) i {
  background: url(../images/nav8_864b111.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(3):hover i {
  background: url(../images/nav8_h_588f6ac.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(3):hover p {
  color: #b351f2;
}
.floatnav .floatnav-list li:nth-child(4) i {
  background: url(../images/nav04_436de87.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(4):hover i {
  background: url(../images/nav04_h_514215b.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(4):hover p {
  color: #28b51c;
}
.floatnav .floatnav-list li:nth-child(5) i {
  background: url(../images/nav04_436de87.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(5):hover i {
  background: url(../images/nav04_h_514215b.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(5):hover p {
  color: #06a43e;
}
.floatnav .floatnav-list li:nth-child(6) i {
  background: url(../images/nav05_fe2225f.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(6):hover i {
  background: url(../images/nav05_h_c757c3c.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(6):hover p {
  color: #e0b00b;
}
.floatnav .floatnav-list li:nth-child(7):hover .sqhd-hover {
  display: block;
}
.floatnav .floatnav-list li:nth-child(7) i {
  background: url(../images/nav06_704430e.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(7):hover i {
  background: url(../images/nav06_h_b356308.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(7):hover > p {
  color: #e32997;
}
.floatnav .floatnav-list li:nth-child(8) i {
  background: url(../images/nav11_f8b7807.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(8):hover i {
  background: url(../images/nav11_h_bbb52e8.png) no-repeat;
}
.floatnav .floatnav-list li:nth-child(8):hover p {
  color: #53ddd5;
}
.floatnav .floatnav-list a {
  color: #eee;
}
.floatnav .floatnav-list i {
  width: 31px;
  height: 31px;
  display: block;
  margin: 18px auto 10px;
}
.floatnav .floatnav-list p {
  text-align: center;
  font-size: 12px !important;
  height: 12px;
  line-height: 12px;
  margin-top: 15px;
}
.floatnav .sqhd-hover {
  position: absolute;
  display: none;
  width: 1920px;
  height: 246px;
  top: 90px;
  left: -875px;
  background: #dee8ec;
}
.floatnav .sqhd-hover:hover {
  display: block;
}
.floatnav .sqhd-hover .arr {
  position: absolute;
  width: 23px;
  height: 11px;
  background: url(../images/top_i_396e040.png) no-repeat;
  top: -11px;
  left: 1767px;
}
.floatnav .sqhd-hover .item1 {
  float: left;
  width: 102px;
  height: 123px;
  margin-top: 58px;
}
.floatnav .sqhd-hover .item1 a {
  display: block;
  width: 100%;
  height: 100%;
}
.floatnav .sqhd-hover .item1:nth-child(2) .icon {
  background: url(../images/lt_e15901c.png) no-repeat center center;
}
.floatnav .sqhd-hover .item1:nth-child(3) .icon {
  background: url(../images/dh_d202db9.png) no-repeat center center;
}
.floatnav .sqhd-hover .item1:nth-child(4) .icon {
  background: url(../images/kf_889affe.png) no-repeat center center;
}
.floatnav .sqhd-hover .item2 {
  float: left;
  width: 125px;
  height: 153px;
  margin: 39px 0 0 30px;
}
.floatnav .sqhd-hover .item2 img {
  display: block;
  width: 91px;
  height: 91px;
  margin: 0 auto;
}
.floatnav .sqhd-hover .icon {
  width: 102px;
  height: 57px;
  border-right: 2px solid #bac3c6;
}
.floatnav .sqhd-hover .p-text {
  display: block;
  width: 100%;
  color: #282629;
  line-height: 22px;
  margin: 12px auto 0;
  text-align: center;
  font-size: 12px;
}
.floatnav .sqhd-hover .s1 {
  float: left;
  width: 2px;
  background: #bac3c6;
  height: 72px;
  margin: 51px 0 0 35px;
}
.floatnav .sqhd-hover .s2 {
  float: left;
  width: 2px;
  background: #bac3c6;
  height: 125px;
  margin: 36px 0 0 40px;
}
.floatnav .sqhd-hover .item3 {
  float: left;
  width: 1180px;
  height: 200px;
  margin: 17px 0 0 43px;
}
.floatnav .sqhd-hover .item3 .item3-title {
  color: #282629;
  font-weight: 700;
  margin-bottom: 12px;
}
.floatnav .sqhd-hover .item3 .qqwrap {
  width: 100%;
  height: 135px;
}
.floatnav .sqhd-hover .item3 .qqitem {
  width: 1180px;
  height: 45px;
  border-top: 1px dashed #b0b8bb;
}
.floatnav .sqhd-hover .item3 .item {
  float: left;
  width: 236px;
  height: 45px;
  background: url(../images/arr_347c7ad.png) no-repeat left center;
}
.floatnav .sqhd-hover .item3 .item span {
  float: left;
  width: 138px;
  height: 100%;
  margin-left: 5px;
  font-size: 14px;
  color: #282629;
  line-height: 45px;
  text-align: center;
}
.floatnav .sqhd-hover .item3 .item a {
  float: left;
  width: 75px;
  height: 30px;
  background: #28bd09;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.8;
}
.floatnav .sqhd-hover .item3 .yiuxi {
  width: 547px;
  height: 40px;
  margin: 10px 0 0 660px;
  line-height: 40px;
}
.floatnav .sqhd-hover .item3 .yiuxi a {
  font-size: 14px;
  text-decoration: underline;
  color: #333;
  padding-left: 10px;
  opacity: 0.8;
}
.floatnav .sqhd-hover .item3 .yiuxi .fp-btn {
  padding-left: 35px;
  height: 40px;
  line-height: 40px;
  background: url(../images/1_3ab7714.png) no-repeat left center;
  background-size: 31px 31px;
  display: block;
  float: left;
  margin-right: 15px;
}
.floatnav .sqhd-hover .item3 .yiuxi span {
  color: #28bd09;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.video-hm {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  opacity: 0;
  height: 0;
  transition: all ease 0.5s;
}
.video-hm .video-btn {
  width: 46px;
  height: 46px;
  margin: 35px auto 0;
  background: url(../images/video_btn_b0ef8aa.png) no-repeat;
}
.video-bf {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  opacity: 1;
  height: 117px;
  transition: all ease 0.5s;
}
.video-bf .video-btn {
  width: 46px;
  height: 46px;
  margin: 35px auto 0;
  background: url(../images/video_btn_b0ef8aa.png) no-repeat;
}
.header {
  position: relative;
  width: 100%;
  height: 943px;
  background: url(../images/banner1_e310a71.jpg) no-repeat center top;
}
.header:after {
  content: "";
  width: 269px;
  height: 34px;
  bottom: 0;
  left: 50%;
  z-index: 2;
  position: absolute;
  margin-left: -600px;
  background-repeat: no-repeat;
  background: url(../images/index_z_a435eef.png) -66px -218px;
}
.header .header-slogan {
  position: absolute;
  width: 674px;
  height: 214px;
  top: 270px;
  left: 50%;
  margin-left: -337px;
}
.header .header-btn {
  width: 430px;
  height: 115px;
  position: absolute;
  top: 654px;
  left: 50%;
  margin-left: -215px;
}
.header .header-btn p {
  width: 429px;
  height: 49px;
  line-height: 49px;
  background: url(../images/bg-dl-btn_c09a20c.png) no-repeat;
  font-family: Microsoft YaHei;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.header .header-btn a {
  display: block;
  width: 430px;
  height: 49px;
  margin: -2px auto 0;
  background: url(../images/btn-dl-1_b4c958c.png) center;
}
.header .net-download {
  width: 277px;
  height: 159px;
  overflow: hidden;
  background: url(../images/bg-dl-module_a649e93.png) center no-repeat;
  position: absolute;
  top: 763px;
  left: 50%;
  margin-left: -216px;
}
.header .net-download > a {
  position: absolute;
  top: 135px;
  left: 50%;
  margin: 0;
  margin-left: -50px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  cursor: pointer;
}
.header .header-qrcode {
  position: relative;
  float: left;
  width: 99px;
  height: 98px;
  margin-top: 30px;
  margin-left: 24px;
}
.header .header-qrcode img {
  width: 100%;
  height: 100%;
}
.header .header-qrcode div {
  position: absolute;
  top: 100%;
  left: -5px;
  width: 110px;
  height: 17px;
  background-image: url(../images/line_ebb436a.png);
}
.header .buttons {
  float: left;
  width: 137px;
  margin-top: 32px;
  margin-left: 6px;
}
.header .buttons a {
  font-size: 0;
  display: block;
  width: 137px;
  height: 41px;
  cursor: pointer;
}
.header .buttons a:nth-child(1) {
  background-image: url(../images/btn-dl-ios_437c568.png);
}
.header .buttons a:nth-child(1):hover {
  opacity: 0.9;
}
.header .buttons a:nth-child(2) {
  margin-top: 10px;
  background-image: url(../images/btn-dl-and_af56775.png);
}
.header .buttons a:nth-child(2):hover {
  opacity: 0.9;
}
.header .header-video {
  width: 140px;
  height: 126px;
  background: url(../upload/bg-video_c993512.jpg) center;
  border: 2px solid #ff712e;
  box-sizing: border-box;
  position: absolute;
  top: 780px;
  left: 50%;
  margin-left: 82px;
}
.header .header-video a {
  display: block;
  width: 25px;
  height: 42px;
  margin: 35px auto;
  background: url(../images/btn-play_12b97bd.png) center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -21px;
  z-index: 5;
}
.header .header-video span {
  position: absolute;
  width: 136px;
  height: 122px;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
.content {
  width: 100%;
  height: 1939px;
  background: url(../images/con_bg_67700a3.jpg) center center no-repeat;
}
.content .container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.part1 {
  position: relative;
  height: 354px;
}
.part1:before {
  content: "";
  width: 61px;
  height: 66px;
  background: url(../images/box_8f0e3f1.png) no-repeat;
  position: absolute;
  top: 40px;
  left: -54px;
  z-index: 2;
}
.part1:after {
  content: "";
  width: 101px;
  height: 340px;
  background: url(../images/box2_dc1906e.png) no-repeat;
  position: absolute;
  top: 23px;
  right: -101px;
}
.part1 .ban-box {
  width: 540px;
  height: 330px;
  background: #8ad573;
  padding: 13px 12px;
  position: relative;
  float: left;
  overflow: hidden;
}
.part1 .carousel {
  overflow: hidden;
  position: relative;
  width: 540px;
}
.part1 .carousel-img {
  width: 7560px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.part1 .carousel-img li {
  float: left;
  width: 540px;
}
.part1 .carousel-img a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.part1 .carousel-img img {
  width: 100%;
  height: 100%;
}
.part1 .carousel-list {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.part1 .carousel-list li {
  float: left;
  margin-left: 3px;
  background: #135805;
  border: 3px solid #135805;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.part1 .carousel-list .active {
  background: #ccc;
  border-color: #ea4a34;
}
.part1 .news-box {
  width: 488px;
  height: 327px;
  background: #fff;
  margin-top: 29px;
  float: left;
}
.part1 .news-nav {
  height: 40px;
  border-bottom: 2px solid #edf3ec;
  position: relative;
}
.part1 .news-nav ul {
  width: 100%;
  height: 40px;
}
.part1 .news-nav li {
  width: 89px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}
.part1 .news-nav li a {
  color: #000;
  font-size: 15px;
}
.part1 .news-nav .active {
  background: url(../images/news_on_4bf006e.png) no-repeat;
}
.part1 .news-nav .active a {
  color: #fff;
}
.part1 .news-nav > a {
  width: 40px;
  height: 40px;
  background: #ccc;
  display: block;
  position: absolute;
  top: 0;
  right: 3px;
  background: url(../images/more_e284634.png) center center no-repeat;
  transition: all ease 0.5s;
}
.part1 .news-nav > a:hover {
  transform: rotate(180deg);
}
.part1 .news-wrap {
  overflow: hidden;
  position: relative;
  width: 488px;
}
.part1 .news-wrap .news-con {
  width: 1952px;
  left: 0px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.part1 .news-wrap ul {
  float: left;
  width: 488px;
}
.part1 .news-wrap li {
  height: 37px;
  line-height: 37px;
  border-bottom: 1px dotted #d1c8c1;
  padding-top: 2px;
  position: relative;
  margin: 0 22px;
}
.part1 .news-wrap li:nth-child(1) {
  border-bottom-style: solid;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  font-weight: 700;
  padding-top: 0;
}
.part1 .news-wrap li:nth-child(1) a {
  color: #28bd09;
  font-size: 20px;
}
.part1 .news-wrap li:nth-child(1) i {
  display: none;
}
.part1 .news-wrap li:nth-last-child(1) {
  border-bottom: none;
}
.part1 .news-wrap a {
  width: 400px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  font-size: 13px;
}
.part1 .news-wrap i {
  width: 0;
  height: 0;
  display: inline-block;
  border-color: transparent;
  border-width: 7px;
  border-style: solid;
  border-left-color: #a5a5a5;
  vertical-align: middle;
}
.part1 .news-wrap span {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
}
.part1 .news-wrap .push {
  height: 35px;
  line-height: 35px;
  border-bottom: 0;
  margin-bottom: 4px;
  background-color: #f5f7f9;
  margin: 9px 22px 5px;
}
.part1 .news-wrap .push i {
  float: left;
  width: 56px;
  color: #fff;
  background-color: #28bd09;
  text-align: center;
  border: 0;
  height: 35px;
  position: relative;
  font-size: 15px;
}
.part1 .news-wrap .push a {
  float: left;
  width: 325px;
  color: #333;
  font-size: 13px;
  margin: 0 18px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 36px;
  transition: all 0.5s ease;
}
.part1 .share-box {
  width: 125px;
  height: 317px;
  border: 5px solid #28bd09;
  margin-top: 29px;
  float: right;
  position: relative;
}
.part1 .share-box:after {
  content: "";
  width: 52px;
  height: 51px;
  background: url(../images/share_bg_67f593f.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.part1 .share-box .share-p1 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  margin-top: 28px;
  text-align: center;
}
.part1 .share-box .share-p2 {
  color: #999;
  text-align: center;
}
.part1 .share-box ul {
  display: block;
  list-style: none;
  float: left;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  height: 25px;
  text-align: center;
}
.part1 .share-box li {
  display: inline-block;
  width: 20px;
  height: 19px;
}
.part1 .share-box li a {
  display: inline-block;
  float: left;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #999;
  margin-right: 3px;
  width: 100%;
  height: 100%;
}
.part1 .share-box li:nth-child(1) a {
  background-image: url(../images/share-1.png);
}
.part1 .share-box li:nth-child(2) a {
  background-image: url(../images/share-2.png);
}
.part1 .share-box li:nth-child(3) a {
  background-image: url(../images/share-3.png);
}
.part1 .share-box li:nth-child(4) a {
  background-image: url(../images/share-4.png);
}
.part1 .share-box li:nth-child(1) a:hover {
  background-image: url(../images/share-1h.png);
}
.part1 .share-box li:nth-child(2) a:hover {
  background-image: url(../images/share-2h.png);
}
.part1 .share-box li:nth-child(3) a:hover {
  background-image: url(../images/share-3h.png);
}
.part1 .share-box li:nth-child(4) a:hover {
  background-image: url(../images/share-4h.png);
}
.part1 .share-box .line {
  width: 88px;
  margin-left: 13px;
  height: 1px;
  background: #ccc;
  margin-top: 44px;
}
.part1 .share-box .ewm-box {
  width: 116px;
  margin: 5px auto 0;
}
.part1 .share-box .ewm-tab {
  text-align: center;
}
.part1 .share-box .ewm-tab a {
  color: #333;
  width: 38px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}
.part1 .share-box .ewm-tab .active {
  color: #33b916;
  background: url(../images/line_318f36e.png) center bottom no-repeat;
}
.part1 .share-box .ewm-wrap {
  width: 110px;
  margin: 10px auto;
}
.part1 .share-box .ewm-wrap .tempWrap {
  overflow: hidden;
  position: relative;
  width: 110px;
}
.part1 .share-box .ewm-wrap .ewm-img {
  width: 220px;
  left: 0px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.part1 .share-box .ewm-wrap img {
  width: 100px;
  margin: 0 auto;
  display: block;
}
.part1 .share-box .ewm-wrap p {
  text-align: center;
  line-height: 17px;
}
.part1 .share-box .ewm-wrap a {
  width: 100%;
  margin: 0;
  text-decoration: underline;
  line-height: 170%;
  color: #333;
  text-align: center;
  display: inline-block;
}
.part2 {
  height: 142px;
  margin: 33px auto 40px;
}
.part2 ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.part2 li {
  float: left;
  width: 240px;
  height: 145px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.part2 li:nth-child(1) {
  background: url(../images/part2_01_4b3dba2.png) no-repeat center bottom;
}
.part2 li:nth-child(1):hover {
  background: url(../images/part2_01_h_3038414.png) no-repeat center bottom;
}
.part2 li:nth-child(2) {
  background: url(../images/part2_02_0479e41.png) no-repeat center bottom;
}
.part2 li:nth-child(2):hover {
  background: url(../images/part2_02_h_1f5aad2.png) no-repeat center bottom;
}
.part2 li:nth-child(3) {
  background: url(../images/part2_03_25cbad2.png) no-repeat center bottom;
}
.part2 li:nth-child(3):hover {
  background: url(../images/part2_03_h_8cb872e.png) no-repeat center bottom;
}
.part2 li:nth-child(4) {
  background: url(../images/part2_04_cf05c27.png) no-repeat center bottom;
}
.part2 li:nth-child(4):hover {
  background: url(../images/part2_04_h_814a3a7.png) no-repeat center bottom;
}
.part2 li:nth-child(5) {
  background: url(../images/part2_05_d359b8a.png) no-repeat center bottom;
}
.part2 li:nth-child(5):hover {
  background: url(../images/part2_05_h_591bb32.png) no-repeat center bottom;
}
.part2 a {
  display: block;
  width: 100%;
  height: 100%;
}
.part3 {
  height: 375px;
}
.part3 .part3-nav {
  width: 190px;
  height: 354px;
  float: left;
}
.part3 .part3-nav-head {
  width: 165px;
  height: 57px;
  padding-top: 35px;
  position: relative;
  background: #f2f2f2 url(../images/work_bg_03c3d39.png) no-repeat;
}
.part3 .part3-nav-head p {
  text-align: center;
}
.part3 .part3-nav-head p:nth-child(1) {
  color: #333;
  font-weight: 700;
  font-size: 20px;
}
.part3 .part3-nav-head p:nth-child(2) {
  color: #999;
}
.part3 .part3-nav-list {
  width: 165px;
  min-height: 212px;
  background: #fff;
}
.part3 .part3-nav-list li {
  width: 190px;
  height: 53px;
  transition: all ease 0.3s;
  position: relative;
}
.part3 .part3-nav-list .active:before {
  content: "";
  width: 190px;
  height: 51px;
  background: #ea4a34;
  position: absolute;
  top: 0;
  left: 0;
}
.part3 .part3-nav-list .active a {
  background-color: transparent;
  color: #fff;
}
.part3 .part3-nav-list a {
  display: block;
  width: 165px;
  height: 53px;
  line-height: 51px;
  font-size: 16px;
  background: #fff;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #000;
}
.part3 .part3-nav-list a:before {
  content: "";
  width: 151px;
  height: 1px;
  background: #ececec;
  position: absolute;
  left: 7px;
  bottom: 0;
}
.part3 .part3-nav-more {
  width: 165px;
  height: 39px;
  padding-top: 22px;
  display: block;
  background: url(../images/work_more_bg_17da8bb.png) no-repeat center bottom;
  position: relative;
}
.part3 .part3-nav-more:before {
  content: "";
  width: 100%;
  height: 9px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.part3 .part3-nav-more:hover i {
  transform: rotate(180deg);
}
.part3 .part3-nav-more i {
  width: 34px;
  height: 34px;
  display: block;
  background: url(../images/more1_ab19103.png) no-repeat;
  transition: all ease 0.5s;
  margin: -7px 0 0 146px;
}
.part3-box {
  width: 1010px;
  height: 354px;
  float: left;
}
.part3-box ul {
  width: 100%;
  height: 100%;
}
.part3-box li {
  width: 243px;
  height: 157px;
  margin: 0 12px 21px 0;
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.part3-box li:nth-child(4n) {
  margin-right: 0;
}
.part3-box li:hover .list-box-zan {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.part3-box li > p {
  color: #fff;
  text-align: right;
  background: url(../images/zan_d2c59b2.png) center right no-repeat;
  padding-right: 25px;
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  display: none;
  line-height: 20px;
}
.part3-box li > p:hover {
  background: url(../images/zan_h_bbf3989.png) center right no-repeat;
}
.part3-box .part3-list-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.part3-box .part3-list-box img {
  width: 100.5%;
  min-height: 100.5%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.part3-box .part3-list-box div {
  position: absolute;
  width: 243px;
  height: 0;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  transition: all ease 0.3s;
  opacity: 0;
}
.part3-box .part3-list-box div p {
  text-align: center;
}
.part3-box .part3-list-box div p:nth-last-child(2) {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
.part3-box .part3-list-box div p:nth-last-child(1) {
  color: #ccc;
  line-height: 22px;
}
.part3-box .part3-list-box span {
  width: 16px;
  height: 3px;
  background: #ff6550;
  display: block;
  margin: 55px auto 0;
}
.part3-box .part3-box-image {
  display: none;
}
.part3-box .part3-box-image li {
  width: 183px;
  height: 183px;
  margin-right: 23px;
  margin-bottom: 10px;
}
.part3-box .part3-box-image li:nth-child(5n) {
  margin-right: 0;
}
.part3-box .part3-box-image li > p {
  width: 20px;
  height: 24px;
  right: -18px;
  bottom: 7px;
  background: url(../images/dl_e37edb3.png) no-repeat;
}
.part4 {
  margin: 27px auto 100px;
  height: 410px;
}
.part4 .part4-nav {
  width: 100%;
  height: 45px;
}
.part4 .part4-nav .part4-nav-title {
  width: 168px;
  height: 45px;
  font-size: 14px;
  float: left;
  background: url(../images/video_tit_bg_1e31449.png) no-repeat;
}
.part4 .part4-nav p {
  text-align: center;
}
.part4 .part4-nav p:nth-child(1) {
  color: #333;
  font-weight: 700;
  font-size: 20px;
}
.part4 .part4-nav p:nth-child(2) {
  color: #999;
}
.part4 .part4-nav ul {
  float: left;
  margin-left: 30px;
}
.part4 .part4-nav li {
  width: 112px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  float: left;
  margin-right: 3px;
  font-size: 16px;
  transition: all ease 0.5s;
}
.part4 .part4-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #212121;
  position: relative;
  left: -8px;
  top: -1px;
}
.part4 .part4-nav .active {
  background: url(../images/video_bg_eaa14b3.png) no-repeat;
}
.part4 .part4-nav .active a {
  color: #fff;
}
.part4 .part4-nav .part4-nav-more {
  float: left;
  color: #26ae0a;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.part4 .part4-nav .part4-nav-more:hover i {
  transform: rotate(180deg);
}
.part4 .part4-nav .part4-nav-more i {
  width: 34px;
  height: 34px;
  display: inline-block;
  background: url(../images/more1_ab19103.png) center right no-repeat;
  margin: -1px 0 0 10px;
  vertical-align: middle;
  transition: all ease 0.5s;
}
.part4 .part4-box {
  margin-top: 41px;
}
.part4 .part4-box .part4-box-big {
  width: 486px;
  height: 322px;
  float: left;
  cursor: pointer;
  position: relative;
}
.part4 .part4-box .part4-box-video {
  width: 486px;
  height: 274px;
}
.part4 .part4-box .part4-box-img {
  width: 486px;
  height: 274px;
}
.part4 .part4-box .part4-box-title {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  bottom: 0;
  left: 0;
  background: #333;
  color: #fff;
}
.part4 .part4-box-list {
  width: 714px;
  height: 322px;
  float: left;
}
.part4 .part4-box-list .video-box-list-item {
  height: 322px;
  margin-left: 12px;
  display: none;
}
.part4 .part4-box-list .video-box-list-item:nth-child(1) {
  display: block;
}
.part4 .part4-box-list li {
  float: left;
  margin-left: 12px;
  width: 221px;
  height: 169px;
  position: relative;
  cursor: pointer;
}
.part4 .part4-box-list li > p {
  color: #fff;
  text-align: right;
  background: url(../images/zan_d2c59b2.png) center right no-repeat;
  padding-right: 25px;
  position: absolute;
  top: 90px;
  right: 10px;
  z-index: 10;
  line-height: 20px;
}
.part4 .part4-box-list li > p:hover {
  background: url(../images/zan_h_bbf3989.png) center right no-repeat;
}
.part4 .part4-box-list img {
  width: 221px;
  height: 117px;
}
.part4 .part4-box-list .video-box-list-img p:nth-last-child(2) {
  color: #4d4c4c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 19px;
  font-size: 13px;
}
.part4 .part4-box-list .video-box-list-img p:nth-last-child(1) {
  color: #27881f;
  line-height: 18px;
  font-size: 13px;
}
.part5 {
  height: 390px;
}
.part5 .gs-wrap {
  width: 428px;
  height: 390px;
  float: left;
}
.part5 .gs-wrap .gs-title {
  border: 2px solid #cfe6ca;
  width: 424px;
  height: 42px;
  line-height: 42px;
  position: relative;
}
.part5 .gs-wrap .gs-title a {
  width: 214px;
  height: 46px;
  color: #242424;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  text-indent: 3px;
  position: absolute;
  left: -2px;
  top: -2px;
}
.part5 .gs-wrap .gs-title a:nth-last-child(1) {
  left: auto;
  right: -2px;
}
.part5 .gs-wrap .active {
  background: url(../images/tj_bg_954c550.png) no-repeat;
  color: #fff !important;
  background-size: 100% 100%;
}
.part5 .gs-wrap .gs-more {
  color: #26ae0a;
  display: block;
  text-align: right;
  position: relative;
}
.part5 .gs-wrap .gs-more:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 350px;
  height: 1px;
  background: #dfdad5;
}
.part5 .gs-wrap .gs-more:hover i {
  transform: rotate(180deg);
}
.part5 .gs-wrap .gs-more i {
  width: 19px;
  height: 19px;
  display: inline-block;
  background: url(../images/more_e284634.png) center right no-repeat;
  margin: -1px 0 0 10px;
  vertical-align: middle;
  transition: all ease 0.5s;
}
.part5 .gs-temp {
  overflow: hidden;
  position: relative;
  width: 428px;
}
.part5 .gs-temp .gs-box {
  width: 856px;
  left: 0px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.part5 .gs-temp ul {
  float: left;
  width: 428px;
}
.part5 .gs-temp li {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px dotted #d1c8c1;
  position: relative;
}
.part5 .gs-temp li:nth-child(1) {
  height: 84px;
  padding: 14px 0 12px 14px;
  border-bottom: 1px #d1c8c1 solid;
  margin-bottom: 11px;
}
.part5 .gs-temp li:nth-child(1) a {
  width: auto;
}
.part5 .gs-temp li:nth-last-child(1) {
  border-bottom: 0;
}
.part5 .gs-temp li a {
  width: 365px;
  color: #292828;
  display: block;
  overflow: hidden;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.part5 .gs-temp li i {
  width: 0;
  height: 0;
  vertical-align: middle;
  display: inline-block;
  border-color: transparent;
  border-width: 7px;
  border-style: solid;
  border-left-color: #a5a5a5;
}
.part5 .gs-temp span {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
}
.part5 .gs-temp img {
  width: 156px;
  height: 84px;
}
.part5 .gs-temp .gs-des {
  width: 240px;
  margin-left: 11px;
  display: inline-block;
  vertical-align: top;
}
.part5 .gs-temp .gs-p1 {
  color: #28bd09;
  font-size: 19px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 30px;
}
.part5 .gs-temp .gs-p2 {
  height: 48px;
  color: #898989;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
  white-space: normal;
  line-height: 16px;
}
.part5 .tj-wrap {
  width: 745px;
  height: 398px;
  background: #fff;
  position: relative;
  float: right;
}
.part5 .tbShengwu .sum {
  width: 195px;
}
.part5 .tbShengwu .subNav {
  width: 260px;
}
.part5 .tbShengwu .peifang {
  display: none;
}
.part5 .tj-head {
  width: 733px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 44px;
  background: #fff;
  position: relative;
}
.part5 .tj-head:before {
  content: "";
  width: 745px;
  height: 44px;
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/tj_head_9ac4e91.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.part5 .tj-head span {
  position: relative;
}
.part5 .tj-nav {
  width: 100%;
}
.part5 .tj-nav a {
  color: #767676;
  width: 80px;
  height: 40px;
  margin: 0 13px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  float: left;
  border-bottom: 3px solid transparent;
  transition: all ease 0.5s;
  position: relative;
}
.part5 .tj-nav .active:before {
  content: "";
  width: 80px;
  height: 3px;
  background: #61c355;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -40px;
}
.part5 .tj-mod .sideNav {
  width: 80px;
  margin-top: 20px;
  float: left;
  height: 240px;
  display: none;
  font-size: 14px;
  margin-left: 9px;
}
.part5 .tj-mod .sideNav a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #828282;
  position: relative;
}
.part5 .tj-mod .sideNav a:before {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 5px;
  height: 5px;
  background: transparent;
  transition: all ease 0.5s;
}
.part5 .tj-mod .sideNav .active {
  color: #2ba012;
}
.part5 .tj-mod .sideNav .active:before {
  background: #099d00;
}
.part5 .tujian {
  float: left;
  height: 240px;
  margin-left: 5px;
  margin-top: 20px;
}
.part5 .tujian .bigImg {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 216px;
  box-sizing: border-box;
  margin: 12px 12px 0 0;
  text-align: center;
  position: relative;
}
.part5 .tujian img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 100%;
  max-height: 100%;
}
.part5 .sum {
  position: absolute;
  width: 235px;
  display: inline-block;
  vertical-align: middle;
}
.part5 .sum .desc {
  margin-bottom: 6px;
}
.part5 .sum .desc p {
  display: block;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.part5 .sum .desc em {
  color: #333;
  height: 40px;
  line-height: 36px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  display: block;
  border-bottom: 1px solid #b8babb;
  margin-bottom: 8px;
}
.part5 .sum .peifang {
  height: 127px;
  width: 100%;
}
.part5 .sum .peifang > p {
  vertical-align: middle;
  font-size: 14px;
  font-style: normal;
  width: 88px;
  color: #767676;
}
.part5 .sum .peifang-ge {
  display: inline-block;
  vertical-align: middle;
  width: 105px;
  height: 102px;
}
.part5 .sum .peifang-ge i {
  background: #fff;
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  border: 1px solid #ccc;
  margin: 0 3px 3px 0;
}
.part5 .sum .peifang-arror {
  display: inline-block;
  vertical-align: top;
  margin: 40px 18px 0;
  width: 12px;
  height: 20px;
}
.part5 .sum .peifang-arror em {
  background: #099d00;
  width: 4px;
  height: 4px;
  display: block;
}
.part5 .sum .peifang-arror em:nth-child(2) {
  margin-left: 4px;
}
.part5 .sum .peifang-arror em:nth-child(3) {
  margin-left: 8px;
}
.part5 .sum .peifang-arror em:nth-child(4) {
  margin-left: 4px;
}
.part5 .sum .peifang-img {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  width: 50px;
  height: 50px;
  position: relative;
  border: 1px solid #ccc;
  margin-top: 23px;
}
.part5 .sum .peifang-img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.part5 .subNav {
  width: 290px;
  float: right;
  min-height: 240px;
  margin-top: 15px;
}
.part5 .subNav a {
  display: block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: #d7a268;
  float: left;
  margin-right: 6px;
  margin-bottom: 4px;
}
.part5 .subNav .active {
  border: 3px solid #099d00;
}
.part5 .subNav img {
  width: 46px;
  height: 46px;
  position: absolute;
  margin-left: -23px;
  margin-top: -23px;
  left: 50%;
  top: 50%;
}
.part5 .tips {
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: #666;
  line-height: 30px;
  text-align: right;
  padding-right: 18px;
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.footer {
  background: url(https://mc.res.netease.com/pc/gw/20180605105342/img/nav_bg_a91881e.jpg) center repeat-y;
  text-align: center;
}
.footer .footer-box {
  width: 1024px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 0 10px;
  font-size: 12px;
  line-height: 20px;
}
.footer .footer-box-part1 .footer-logo {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  min-width: 300px;
}
.footer .footer-box-part1 .footer-logo a {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
.footer .footer-box-part1 .footer-logo a:nth-child(1) img {
  padding-right: 0;
}
.footer .footer-box-part1 .footer-logo img {
  padding-right: 15px;
  padding-top: 5px;
  border: 0;
  vertical-align: middle;
}
.footer .footer-box-part1 .footer-nav {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
}
.footer .footer-box-part1 .footer-nav i {
  display: inline-block;
  color: #fff;
}
.footer .footer-box-part1 .footer-nav a {
  color: #fff;
}
.footer .footer-box-part1 .footer-nav .footer-nav-i2 {
  height: 28px;
  line-height: 28px;
  text-align: left;
}
.footer .footer-box-part2 {
  padding-top: 10px;
  line-height: 24px;
  color: #999;
}
.footer .footer-box-part2 span {
  display: inline-block;
  vertical-align: top;
}
.footer .footer-box-part2 a {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
.footer .footer-box-part3 {
  color: #999;
}
